use Mix.Config

config :phoenix, CastPub.Router,
  http: [port: System.get_env("PORT") || 4001],
  catch_errors: false

config :cast_pub,
  database_url: "ecto://postgres@localhost/cast_pub_test?size=1&max_overflow=0"
